:root {
  /*PALETA BASICA*/

  /* COLORES*/
  --color-background: rgba(252, 252, 252, 1);
  --color-primary: rgb(36, 141, 10);
  --color-text: rgb(0, 0, 0);
  --color-text2: rgb(60, 61, 60);
  --color-secondary-text: rgb(171, 178, 191);

  --color-border-art: rgb(4, 112, 139);
  --color-background-art: rgba(4, 112, 139, 0.1);

  --color-border-ocupation: rgb(53, 139, 4);
  --color-background-ocupation: rgba(54, 139, 4, 0.1);

  --color-border-about-me: rgb(207, 122, 11);
  --color-background-about-me: rgba(207, 122, 11, 0.1);

  --color-border-CV: rgb(87, 61, 233);
  --color-background-CV: rgba(87, 61, 233, 0.1);

  /*TAMAÑOS Y TIPOS DE LETRA*/
  --font-family-4all: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --fontsize-nav: 1rem;
  --fontfamily-nav: var(--font-family-4all);

  --fontsize-title: 2.5rem;
  --fontfamily-title: var(--font-family-4all);

  --fontsize-title2: 1.8rem;
  --fontfamily-title2: var(--font-family-4all);

  --fontsize-title3: 1.2rem;
  --fontfamiy-title3: var(--font-family-4all);

  --fontsize-text: 1rem;
  --fontfamily-text: var(--font-family-4all);

  --fontsize-minitext: 0.9rem;
  --fontfamily-minitext: var(--font-family-4all);

  --fontsize-explication: 0.9rem;
  --fontfamily-explication: var(--font-family-4all);

  /*ESPACIADOS*/
  --margen-total: 1.5rem 6rem;
  --space-navegador-contenido: 15%;
  --space-content: 80%;
  --space-elementos: 1.5rem;

  --radius: 20px;

  /*IMAGENES*/
  --img-width: 100%;
  --img-radius: 20px;
}
/*PALETA SECUNDARIA*/
:root.light {
  --color-background: #f9f9f9;
  --color-primary: #2ecc71;
  --color-text: #222222;
  --color-secondary-text: #555555;
  --color-border: #cccccc;
}

/*COMUN*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  z-index: 2;
  font-family: var(--fontfamily-text);
}
nav {
  position: fixed;
  height: 100vh;
  width: 30%;
  gap: calc(2 * var(--space-elementos));
}

nav .navigator {
  padding-bottom: calc(2 * var(--space-elementos));
  display: flex;
  flex-direction: column;
}
nav a {
  padding: var(--space-elementos) 0;
  color: var(--color-text);
  font-family: var(--fontfamily-nav);
  font-size: var(--fontsize-nav);
  text-decoration: none;
}
.all-content {
  width: var(--space-content);
}

.isa {
  width: min-content;
  line-height: 1.5;
  font-size: var(--fontsize-title);
  font-weight: 300;
}

.colored {
  display: flex;
  padding: 0.5rem;
  font-size: var(--fontsize-minitext);
  width: max-content;
  border-radius: var(--radius);
  margin: var(--space-elementos) 0;
}
.colored p,
img {
  background-color: transparent;
}

.subtitle {
  padding: var(--space-elementos) 0;
  font-size: var(--fontsize-title2);
  font-weight: 600;
}

.text {
  font-size: var(--fontsize-text);
  font-family: var(--fontfamily-text);
  color: var(--color-text);
  margin: var(--space-elementos) 0;
  line-height: 1.5;
}

.blood {
  font-weight: bold;
}

.video-container {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: var(--img-radius);
}
.video {
  width: 100%;
  height: auto;
  display: block;
}

.green {
  background-color: var(--color-background-ocupation);
  color: var(--color-border-ocupation);
  border: 1px solid var(--color-border-ocupation);
}
.grey {
  background-color: rgba(128, 128, 128, 0.1);
  border: 1px solid grey;
  color: grey;
}

.orange {
  background-color: var(--color-background-about-me);
  border: 1px solid var(--color-border-about-me);
  color: var(--color-border-about-me);
}
.blue {
  background-color: var(--color-background-art);
  border: 1px solid var(--color-border-art);
  color: var(--color-border-art);
}
.purple {
  background-color: var(--color-background-CV);
  border: 1px solid var(--color-border-CV);
  color: var(--color-border-CV);
}
.red {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid red;
  color: red;
}

/*SEPARATOR */
.separator {
  display: flex;
  padding: var(--space-elementos) 0;
  align-items: center;
  text-align: center;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid black;
  margin: 0 10px;
}
.separator img {
  height: 24px;
  width: auto;
}

/*INDEX*/
.Todo {
  margin: var(--margen-total);
  display: flex;
  align-items: flex-start;
  gap: var(--space-navegador-contenido);
}

.here {
  font-size: var(--fontsize-nav);
  font-weight: bold;
}

.explication {
  margin: calc(2 * var(--space-elementos)) 0;
  font-size: var(--fontsize-explication);
  font-family: var(--fontfamily-explication);
}
.img_project {
  margin: 1rem 0;
  width: var(--img-width);
  height: auto;
  border-radius: var(--img-radius);
}

/*ABOUT*/
#about {
  width: 60%;
}
.title-about {
  display: flex;
  align-items: flex-start;
  gap: 60%;
}
.contact {
  padding-top: 15px;
  display: grid;
  gap: var(--space-elementos);
}
.tel,
.email {
  font-size: var(--fontsize-title3);
  display: flex;
  gap: 10px;
}

.astronauta {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30%;
  margin-right: var(--space-elementos);
  z-index: 1;
}
.astronauta img {
  width: 100%;
}

/*ART*/

.paint,
.installation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.arts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-elementos);
}

.arts img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: var(--img-radius);
  display: block;
}
/*CV*/

.contCV {
  display: flex;
  gap: calc(var(--space-elementos) * 4);
}
.col1 {
  width: 37%;
}

.CV-title {
  font-size: var(--fontsize-title3);
  font-weight: 500;
}
.CV-text {
  padding: 10px 0;
}
.list li {
  margin-left: 20px;
}
/*Project 1*/
.ndzone {
  display: flex;
  align-items: center;
}
.Refonte {
  flex: 1;
  align-items: center;
  align-content: flex-end;
}

.Project1-img-container {
  flex: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  overflow: hidden;
}
.Project1-img-container img,
.Project1-img-container video {
  margin: 0 6rem;
  width: 50%;
  height: auto;
  display: block;
}
.Project1-img-container video {
  position: absolute;
  top: 10;
  left: 10;
  width: 45%;
  height: 95%;
  object-fit: fill;
}
/*Project 2*/

.problem {
  display: grid;
}
.problem p{
  width: fit-content;
}
